body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  font-weight: bolder;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  position: relative;
  text-align: center;
}

button {
  background-color: #04aa6d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
}

button:hover {
  background-color: #038c5a;
}
